*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
backend/amh-routing-service/.classpath
backend/amh-routing-service/.project
backend/amh-routing-service/tree*
backend/amh-routing-service/target/
backend/amh-routing-service/bin/
backend/amh-routing-service/.settings/
backend/amh-routing-service/.cache*

backend/amh-routing-write-model/.classpath
backend/amh-routing-write-model/.project
backend/amh-routing-write-model/tree*
backend/amh-routing-write-model/target/
backend/amh-routing-write-model/bin/
backend/amh-routing-write-model/.settings/
backend/amh-routing-write-model/.cache*

backend/audit-service/.classpath
backend/audit-service/.project
backend/audit-service/tree*
backend/audit-service/target/
backend/audit-service/bin/
backend/audit-service/.settings/
backend/audit-service/.cache*

backend/audit-write-model/.classpath
backend/audit-write-model/.project
backend/audit-write-model/tree*
backend/audit-write-model/target/
backend/audit-write-model/bin/
backend/audit-write-model/.settings/
backend/audit-write-model/.cache*

backend/authentication-write-model/.classpath
backend/authentication-write-model/.project
backend/authentication-write-model/tree*
backend/authentication-write-model/target/
backend/authentication-write-model/bin/
backend/authentication-write-model/.settings/
backend/authentication-write-model/.cache*

backend/commons/.classpath
backend/commons/.project
backend/commons/tree*
backend/commons/target/
backend/commons/bin/
backend/commons/.settings/
backend/commons/.cache*

backend/groupsuite-persistence/.classpath
backend/groupsuite-persistence/.project
backend/groupsuite-persistence/tree*
backend/groupsuite-persistence/target/
backend/groupsuite-persistence/bin/
backend/groupsuite-persistence/.settings/
backend/groupsuite-persistence/.cache*

backend/groupsuite-proxy/.classpath
backend/groupsuite-proxy/.project
backend/groupsuite-proxy/tree*
backend/groupsuite-proxy/target/
backend/groupsuite-proxy/bin/
backend/groupsuite-proxy/.settings/
backend/groupsuite-proxy/.cache*

backend/groupsuite-web/.classpath
backend/groupsuite-web/.project
backend/groupsuite-web/tree*
backend/groupsuite-web/target/
backend/groupsuite-web/bin/
backend/groupsuite-web/.settings/
backend/groupsuite-web/.cache*

backend/routing-service/.classpath
backend/routing-service/.project
backend/routing-service/tree*
backend/routing-service/target/
backend/routing-service/bin/
backend/routing-service/.settings/
backend/routing-service/.cache*

backend/simulator-service/.classpath
backend/simulator-service/.project
backend/simulator-service/tree*
backend/simulator-service/target/
backend/amh-routing-service/bin/
backend/simulator-service/.settings/
backend/simulator-service/.cache*

backend/simulator-write-model/.classpath
backend/simulator-write-model/.project
backend/simulator-write-model/tree*
backend/simulator-write-model/target/
backend/simulator-write-model/bin/
backend/simulator-write-model/.settings/
backend/simulator-write-model/.cache*

backend/stereotype-model-template/.classpath
backend/stereotype-model-template/.project
backend/stereotype-model-template/tree*
backend/stereotype-model-template/target/
backend/stereotype-model-template/bin/
backend/stereotype-model-template/.settings/
backend/stereotype-model-template/.cache*

backend/stereotype-service-template/.classpath
backend/stereotype-service-template/.project
backend/stereotype-service-template/tree*
backend/stereotype-service-template/target/
backend/stereotype-service-template/bin/
backend/stereotype-service-template/.settings/
backend/stereotype-service-template/.cache*

backend/update-messages-tool/.classpath
backend/update-messages-tool/.project
backend/update-messages-tool/tree*
backend/update-messages-tool/target/
backend/update-messages-tool/bin/
backend/update-messages-tool/.settings/
backend/update-messages-tool/.cache*

backend/xml-parser/.classpath
backend/xml-parser/.project
backend/xml-parser/tree*
backend/xml-parser/target/
backend/xml-parser/bin/
backend/xml-parser/.settings/
backend/xml-parser/.cache*

backend/groupsuite-tools/.classpath
backend/groupsuite-tools/.project
backend/groupsuite-tools/tree*
backend/groupsuite-tools/target/
backend/groupsuite-tools/bin/
backend/groupsuite-tools/.settings/
backend/groupsuite-tools/.cache*
backend/routing-write-model/.cache*
backend/routing-write-model/.classpath
backend/routing-write-model/.project
